body
{
    direction: rtl;
}

@import "Header/header";
@import "nav/Container-Section1/Container-Section1";
@import "nav/Container-Section2/Container-Section2";
@import "nav/Container-Section3/Container-Section3";
@import "nav/Audio/Audio";















@media (max-width: 1199px)
{

    header
    {
        height: 14vh;
        position: fixed;
        width: 100%;
        z-index: 1;
    
    
    .card-Text-And-img
    { 
        margin-top: 1em;
    
        .row
        {
            align-items: baseline;
        }
    
    
    
    
    
    .card-Img
    {   padding: 0;
        width: 20%;
        div
        {
                img
                {
                    width: 40%;
                }
        }
    }
    
    
    
    
    
    
    .card-Text
    {
        width: 80%;
        padding: 0;
        margin: 0;
    
        ul
        { 
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    
    .home
    {   list-style: none;
    
        a
        {

            padding: 2em 0em;}
    
        a:hover
        {
            text-decoration: none;
        }
    }
    
    
    .dropduon
    {   list-style: none;
        
    
    
        a
        {

        padding: 2em 0em;
        }
        a:hover
        {
            text-decoration: none;
        }
    
    
    
        ul
        {   
            display: none;
            position: absolute;
            width: 45%;
            top: 4.3em;
            padding: 0;
            margin: 0;
            z-index: 3;
            
         
    
            li
            {
                list-style: none;
    
                a
                {            
                    padding: 1em 0em;
                    display: block;
                }
            }
        }
        
    
    }
    
    
    
    
    .dropduon:hover ul{display: block; transition: .2s;}
    
    
      
    
    
    
        }
    }
    
    
    
    
    }
    
    
    }
    

}







@media (max-width: 991px)
{

    header
    {
        height: 14vh;
        position: fixed;
        width: 100%;
        z-index: 1;
    
    
    .card-Text-And-img
    {   
    
        .row
        {
            align-items: baseline;
        }
    
    
    
    
    
    .card-Img
    {   padding: 0;
        width: 20%;
        div
        {
                img
                {
                    width: 50%;
                }
        }
    }
    
    
    
    
    
    
    .card-Text
    {
        width: 80%;
        padding: 0;
        margin: 0;
    
        ul
        { 
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    
    .home
    {   list-style: none;
    
        a
        {

            padding: 2em 0em;}
    
        a:hover
        {
            text-decoration: none;
        }
    }
    
    
    .dropduon
    {   list-style: none;
        
    
    
        a
        {

        padding: 2em 0em;
        }
        a:hover
        {
            text-decoration: none;
        }
    
    
    
        ul
        {   
            display: none;
            position: absolute;
            width: 45%;
            top: 3.5em;
            padding: 0;
            margin: 0;
            z-index: 3;
            
         
    
            li
            {
                list-style: none;
    
                a
                {            

                    padding: 1em 0em;
                    display: block;
                }
            }
        }
        
    
    }
    
    
    
    
    .dropduon:hover ul{display: block; transition: .2s;}
    
    
      
    
    
    
        }
    }
    
    
    
    
    }
    
    
    }
    

}


@media (max-width: 761px)
{

    header
    {
        height: 14vh;
        position: fixed;
        width: 100%;
        z-index: 1;
    
    
    .card-Text-And-img
    {   
        width: 80%;
        margin-top: 2em;
    
        .row
        {
            align-items: baseline;
        }
    
    
    
    
    
    .card-Img
    {   padding: 0;
        width: 20%;
        div
        {
                img
                {
                    width: 50%;
                }
        }
    }
    
    
    
    
    
    
    .card-Text
    {
        width: 80%;
        padding: 0;
        margin: 0;
    
        ul
        { 
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    
    .home
    {   list-style: none;
    
        a
        {

            padding: 2em 0em;}
    
        a:hover
        {
            text-decoration: none;
        }
    }
    
    
    .dropduon
    {   list-style: none;
        
    
    
        a
        {
 
        padding: 2em 0em;
        }
        a:hover
        {
            text-decoration: none;
        }
    
    
    
        ul
        {   
            display: none;
            position: absolute;
            width: 45%;

            top: 2.9em  ;
            padding: 0;
            margin: 0;
            z-index: 3;
            
         
    
            li
            {
                list-style: none;
    
                a
                {
                    padding: 1em 0em;
                    display: block;
                }
            }
        }
        
    
    }
    
    
    

    
    
      
    
    
    
        }
    }
    
    
    
    
    }
    
    
    }
    

}



@media (max-width: 575px)
{

    header
    {
        height: 14vh;
        position: fixed;
        width: 100%;
        z-index: 1;
    
    
    .card-Text-And-img
    {   
        width: 80%;
        margin-top: 2em;
    
        .row
        {
            align-items: baseline;
        }
    
    
    
    
    
    .card-Img
    {   padding: 0;
        width: 20%;
        div
        {
                img
                {
                    width: 50%;
                }
        }
    }
    
    
    
    
    
    
    .card-Text
    {
        width: 80%;
        padding: 0;
        margin: 0;
    
        ul
        { 
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    
    .home
    {   list-style: none;
    
        a
        {

            padding: 2em 0em;}
    
        a:hover
        {
            text-decoration: none;
        }
    }
    
    
    .dropduon
    {   list-style: none;
        
    
    
        a
        {
 
        padding: 2em 0em;
        }
        a:hover
        {
            text-decoration: none;
        }
    
    
    
        ul
        {   
            display: none;
            position: absolute;
            width: 45%;

            top: 2.5em  ;
            padding: 0;
            margin: 0;
            z-index: 3;
            
         
    
            li
            {
                list-style: none;
    
                a
                {
                    padding: 1em 0em;
                    display: block;
                }
            }
        }
        
    
    }
    
    
    

    
    
      
    
    
    
        }
    }
    
    
    
    
    }
    
    
    }
    

}

