
.App-Container-Section2
{
    overflow: hidden;
    background: #dee2e6;




    .Container-Section2
    {   border-radius: 4px;
        background: linear-gradient(to top, #141e30, #243b55);
        color: #bbb;
        overflow: hidden;
    
    .row
    {
        padding: 1em;
    }
    
    
    .card-Text1
    {
    
    
    div
    {
        h1
        {
            height: 7vh;
            padding: 2px 15px;
            background: #ab1e56;
            overflow: hidden;
            display: inline-block;
            font-weight: normal;
            color: #fff;
            line-height: 1;
            border-radius: 6px;
        }
    
        p
        {
            color: #fff;
            letter-spacing: 1px;
            font-size: 20px;
            width: 80%;
            line-height: 2; 
        }
    
    
    }
    
    
    }
    
    
    
    
    
    
    
    
    
    .card-Text2
    {
        padding-top: 7em;
    
    
    div
    {
        h1
        {
            height: 7vh;
            padding: 2px 15px;
            background: #ab1e56;
            overflow: hidden;
            display: inline-block;
            font-weight: normal;
            color: #fff;
            line-height: 1;
            border-radius: 6px;
        }
    
        p
        {
            color: #fff;
            letter-spacing: 1px;
            font-size: 20px;
            width: 80%;
            line-height: 2; 
        }
    
    
    }
    
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    }

}